---
Language:        Cpp
BasedOnStyle: Google
AccessModifierOffset: -2
AlignEscapedNewlinesLeft: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
BinPackParameters: true
BreakBeforeBraces: Allmant
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
Standard: Cpp11
UseTab: true
...
